<html lang='pt-BR'>
  <body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">
      <div style="display: flex; justify-content: center; align-items: center; background-color: #338a9c; padding: 1rem; width: 100%;">
        <h1 style="font-weight: bold; color: white;">Spese</h1>
      </div>

      <div style="display: flex; flex-direction: column; padding: 2rem; width: 100%;">
        <p>Olá, {{name}}</p>

        <p>Segue abaixo o link para redefinição de senha:
          <b><a href='{{link}}' target='_blank'>clique aqui</a></b>
        </p>

        <p>Ou acesse esse link no seu navegador: {{link}}</p>

        <p><small>Esse link irá expirar em 30 minutos.</small></p>
      </div>
      
      <div style="display: flex; justify-content: center; align-items: center; background-color: #ededed; padding: 1rem; width: 100%;">
        <p style="color: #333333">Atenciosamente, Equipe Spese</p>
      </div>
    </div>
  </body>
</html> 