<html lang='pt-BR'>
  <body style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;">
    <div style="display: flex; justify-content: center; align-items: center; background-color: #255F4B; padding: 1rem; width: 100%;">
      <h1 style="font-weight: bold; color: white;">Spese</h1>
    </div>

    <div style="display: flex; flex-direction: column; padding: 2rem; width: 100%;">
      <p>Olá, {{name}}</p>

      <p>
        <b><a href='{{link}}' target='_blank'>Clique aqui</a></b>
        para ativar a sua conta na Spese e começar a tomar conta da sua vida financeira!
      </p>

      <p>Ou acesse esse link no seu navegador: {{link}}</p>

      <p><small>Esse link irá expirar em uma hora (1h).</small></p>
    </div>
    
    <div style="display: flex; justify-content: center; align-items: center; background-color: #ededed; padding: 1rem; width: 100%;">
      <p style="color: #333333">Atenciosamente, Equipe Spese</p>
    </div>
  </body>
</html> 